/*  characters */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
 
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
 
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
.fade-in.banner {
-webkit-animation-delay: 0.0s;
-moz-animation-delay: 0.0s;
animation-delay: 0.0s;
}
.fade-in.navigation {
-webkit-animation-delay: 2.5s;
-moz-animation-delay: 2.5s;
animation-delay: 2.5s;
}
.fade-in.heading {
-webkit-animation-delay: 0.8s;
-moz-animation-delay:0.8s;
animation-delay: 0.8s;
}
 
.fade-in.mainbody {
-webkit-animation-delay: 0s;
-moz-animation-delay: 0s;
animation-delay: 0s;
}
.fade-in.article1 {
-webkit-animation-delay: 1.4s;
-moz-animation-delay:1.4s;
animation-delay: 1.4s;
}

.fade-in.article2 {
-webkit-animation-delay: 1.7s;
-moz-animation-delay:1.7s;
animation-delay: 1.7s;
}
.fade-in.article3 {
-webkit-animation-delay: 2s;
-moz-animation-delay:2s;
animation-delay: 2s;
}
.fade-in.article4 {
-webkit-animation-delay: 2.3s;
-moz-animation-delay: 2.3s;
animation-delay: 2.3s;
}

.fade-in.article5 {
-webkit-animation-delay: 2.6s;
-moz-animation-delay: 2.6s;
animation-delay: 2.6s;
}
.fade-in.article6 {
-webkit-animation-delay: 2.9s;
-moz-animation-delay:2.9s;
animation-delay: 2.9s;
}

.fade-in.article7 {
-webkit-animation-delay: 3.2s;
-moz-animation-delay:3.2s;
animation-delay: 3.2s;
}
.fade-in.article8 {
-webkit-animation-delay: 3.5s;
-moz-animation-delay:3.5s;
animation-delay: 3.5s;
}
.fade-in.article9 {
-webkit-animation-delay: 4s;
-moz-animation-delay: 4s;
animation-delay: 4s;
}
.bottomBackground {
	/*background: #eee;*/
	/*background: #FFD700;*/
	/*background: #fff099;*/
	/*background: #404040;*/
	background: #77aaaa;
	background: -moz-linear-gradient(top, #77aaaa 0%, bottom, #77aaaa 100%);
	background: -webkit-linear-gradient(top, #77aaaa 0%, bottom, #77aaaa 100%);
	background: linear-gradient(top, #77aaaa 0%, bottom, #77aaaa 100%);
